<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccy1277.acs.sys.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ccy1277.acs.sys.model.Resource">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="description" property="description" />
    </resultMap>

    <select id="getResourceList" resultType="com.ccy1277.acs.sys.model.Resource">
        SELECT DISTINCT
            res.*
        FROM
            user_role_relation urr
                LEFT JOIN role_resource_relation rrr ON urr.role_id = rrr.role_id
                LEFT JOIN resource res ON res.id = rrr.resource_id
        WHERE urr.user_id = #{userId} AND res.id IS NOT NULL;
    </select>

    <select id="getResourceListByRoleId" resultType="com.ccy1277.acs.sys.model.Resource">
        SELECT r.*
        FROM role_resource_relation rrr LEFT JOIN resource r ON rrr.resource_id = r.id
        WHERE rrr.role_id = #{roleId};
    </select>

    <select id="getUserIdListById" resultType="Long">
        SELECT DISTINCT urr.user_id
        FROM resource r
            LEFT JOIN role_resource_relation rrr ON r.id = rrr.resource_id
            LEFT JOIN user_role_relation urr ON urr.role_id = rrr.role_id
        WHERE r.id = #{resourceId};
    </select>
</mapper>
