<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccy1277.acs.sys.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ccy1277.acs.sys.model.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <select id="getRolesByUserId" resultType="com.ccy1277.acs.sys.model.Role">
        SELECT r.id, r.name, r.description, r.create_time, r.status
        FROM user_role_relation urr LEFT JOIN role r ON r.id = urr.role_id
        WHERE urr.user_id = #{userId};
    </select>

</mapper>
