server:
  port: 9090
  servlet:
    context-path: /acs
spring:
  # Redis
  redis:
    host: 127.0.0.1
    database: 0
    port: 6379
    password:
    jedis:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0
    timeout: 3000ms
  cache:
    redis:
      time-to-live: 3600000
  profiles:
     active: dev
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: WEB-INF/**
logging:
  config: classpath:log/logback-spring.xml
mybatis-plus:
  mapper-locations: classpath*:/mappers/*.xml
  global-config:
    db-config:
      id-type: auto
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: partial
# 自定义redis key
redis:
  key:
    user: 'user'
    resources: 'resources'
  expire: 1800
jwt:
  tokenHeader: Authorization
  secret: acs-sercet-1
  expiration: 1800
  tokenHead: 'Bearer' # 通常在Authorization标头中使用Bearer模式
security:
  ignored:
    # 安全路径白名单
    urls:
      - /**/*.js
      - /**/*.css
      - /**/*.png
      - /**/*.ico
      - /swagger-ui/**
      - /swagger-resources/**
      - /v3/api-docs
      - /webjars/springfox-swagger-ui/**
      - /user/login
      - /user/register
      - /user/logout

